@page "/"

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, world!</h1>

        <p>You need to be logged in to do things.</p>
    </NotAuthorized>
    <Authorized>
        <p>You're logged in!</p>
    </Authorized>
</AuthorizeView>
